<script type="text/javascript">

class Util{
  static lista(lista){
    let html = '<ul>';
    for (var item of lista) {
      html += `
      <li>${item}</li>
      `;
    }
    html += '</ul>';
    return html;
  }
}

//métodos estáticos não exigem que o objeto seja instânciado, é possível
//chamar direto a classe e o metodo static
document.write(Util.lista(["Laranja", "Limão", "Maça"]));

</script>
