<script type="text/javascript">

  var usuario = {
    nome: "Ligiane",
    sobrenome: "Oliveira",
    idade: 33
  };

  var usuario2 = new Object();
  usuario2.nome = "Vilma";
  usuario2.sobrenome = "Oliveira";
  usuario2.idade = 57;

  //criando uma lista de objetos forma 1
  var lista1 = [usuario, usuario2];

  //criando uma lista de objetos forma 2 [mais utilizada]
  var lista2 = [
    {
      nome: "Ligiane",
      sobrenome: "Oliveira",
      idade: 33
    },
    {
      nome: "Murilo",
      sobrenome: "Oliveira",
      idade: 50
    },
    {
      nome: "Joana",
      sobrenome: "Oliveira",
      idade: 10
    }
  ];

  //console.log(lista1, lista2);

  //Percorrendo a lista manualmente
  //document.write(lista2[1].nome + "<br>");

  //FOR
  for(var i = 0; i < lista2.length; i++){
    document.write(lista2[i].nome + "<br>");
    document.write(lista2[i].sobrenome + "<br>");
    document.write(lista2[i].idade + "<br>");
  }

  //FOR...IN
  for(let chave in lista1){
    document.write(lista2[chave].nome + "<br>");
    document.write(lista2[chave].sobrenome + "<br>");
    document.write(lista2[chave].idade + "<br>");
  }


  //FOR...OF
  for(usuario of lista2){
    document.write(usuario.nome + "<br>");
  }

</script>
