<script type="text/javascript">

  //objetos
  var usuario = {tipo:null, numero:null};
  var computador = {tipo:null, numero:null};

  usuario.tipo = prompt("Ímpar ou par? (impar/par)");
  usuario.tipo = usuario.tipo.toLowerCase();

  if(usuario.tipo == "impar" || usuario.tipo == "par"){
    usuario.numero = prompt("Qual é o seu número?");
    if(usuario.tipo == "impar"){
      computador.tipo == "par";
    }else{
      computador.tipo == "impar";
    }
    computador.numero = Math.floor(Math.random() * 11); //gera número randomico de 0 até 11

    document.write("Dados do game:" + "<br><br>");
    document.write("Usuário: " + "Tipo: " + usuario.tipo + " Número: " + usuario.numero + "<br>");
    document.write("Computador: " + "Tipo: " + computador.tipo + " Número: " + computador.numero + "<br>");

    if((parseInt(usuario.numero) + parseInt(computador.numero)) % 2 == 0){
      if(usuario.tipo == "par"){
        document.write("Usuário venceu!!!" + "<br>");
      }else{
       document.write("Computador venceu!!!" + "<br>");
      }
    }else{
      if(usuario.tipo == "impar"){
        document.write("Usuário venceu!!!" + "<br>");
      }else{
       document.write("Computador venceu!!!" + "<br>");
      }
    }
  }else{
    document.write("Resposta inválida!!");
  }

</script>
