<script type="text/javascript">

  var listaUsuario = new Array();
  var contador = 0;
  var add;

  do {
    let usuario = new Object();
    usuario.nome = prompt("Digite o nome: ");
    usuario.idade = prompt("Digite a idade: ");
    listaUsuario[contador] = usuario;
    contador++;

    add = prompt("Adicionar outro usuário? (sim/não)");
  } while (add == "sim");

  console.log(listaUsuario);

  document.write("Maior de idade:" + "<br>");
  for(usuario of listaUsuario){
    if(usuario.idade >= 18)
      document.write(usuario.nome + " - " + usuario.idade + "<br>");
  }

  document.write("Menor de idade:" + "<br>");
  for(let chave in listaUsuario){
    if(listaUsuario[chave].idade < 18)
      document.write(listaUsuario[chave].nome + " - " + listaUsuario[chave].idade + "<br>");
  }

</script>
