<script type="text/javascript">

  //Criar uma calculadora
  function calculadora(numA, numB, op){
    if(op == "somar"){
      return numA + numB;
    } else if(op == "subtrair"){
      return numA - numB;
    } else if(op == "multiplicar"){
      return numA * numB;
    } else if(op == "dividir"){
      return numA / numB;
    } else {
      return "Esse operador não existe!";
    }
  }

  //comand + shift + d  (replica a linha copiada)
  document.write(calculadora(2,2, "somar") + "<br>");
  document.write(calculadora(4,2, "subtrair") + "<br>");
  document.write(calculadora(4,2, "multiplicar") + "<br>");
  document.write(calculadora(4,2, "dividir") + "<br>");

</script>
