<script type="text/javascript">

var conta = 1 + 2 * 3; //7

document.write(conta + "<br>");

var conta = (1 + 2) * 3; //9

document.write(conta + "<br>");

var conta = ((1 + 2) * 3) / 2; //4.5

document.write(conta + "<br>");

</script>
