<script type="text/javascript">

class Pagina{
  //metodo construtor /get e set
  constructor(titulo, descricao, conteudo){
    this.titulo = titulo || '';
    this.descricao = descricao || '';
    this.conteudo = conteudo || '';
  }

  get exibir(){
    let html = `
    <h1>${this.titulo}</h1>
    <h2>${this.descricao}</h2>
    <p>${this.conteudo}</p>
    `;
    document.write(html);
  }

  get html(){
    let html = `
    <h1>${this.titulo}</h1>
    <h2>${this.descricao}</h2>
    <p>${this.conteudo}</p>
    `;
    return html;
  }
}

//herança
class HomePage extends Pagina{
  constructor(titulo, descricao, conteudo){
    super(titulo.toUpperCase(), descricao, conteudo); //dessa forma é modificado o construtor da classe pai
  }
}

var Home = new HomePage('Home','Página Home', 'Destaques da Página!');
console.log(Home);
//Home.exibir;

document.write(Home.html);

</script>
