<script type="text/javascript">

//problema
var nome = "Ligiane Mara de";
var sobrenome = "Oliveira";
var idade = 33;

//forma 1
var usuario = {
  nome: "Ligiane",
  sobrenome: "Oliveira",
  idade: 33
};

document.write(usuario.nome + "<br>");
document.write(usuario.sobrenome + "<br>");
document.write(usuario.idade + "<br>");

//forma 2
var usuario2 = new Object();
usuario2.nome = "Vilma";
usuario2.sobrenome = "Oliveira";
usuario2.idade = 57;

console.log(usuario,usuario2);

</script>
