<script type="text/javascript">

  //Criar uma calculadora
  function calculadora(numA, numB, op){
    switch (op) {
      case "somar":
        return numA + numB;
        break;
      case "subtrair":
        return numA - numB;
        break;
      case "multiplicar":
        return numA * numB;
        break;
      case "dividir":
        return numA / numB;
        break;
      default:
        return "Esse operador não existe!";
    }
  }

  //comand + shift + d  (replica a linha copiada)
  document.write(calculadora(2,2, "somar") + "<br>");
  document.write(calculadora(4,2, "subtrair") + "<br>");
  document.write(calculadora(4,2, "multiplicar") + "<br>");
  document.write(calculadora(4,2, "dividir") + "<br>");

</script>
